<div class="container">
  <div class="row">
    <div class="col-md-3 mt-5 m-4 px-4 py-1 bg-secondary text-center">
      <h2>マイページ</h2>
    </div>
  </div>

  <div class="row">
    <p>登録情報</p>
    <%= link_to "編集する", edit_customer_path(current_customer.id), class: "btn btn-success" %>
  </div>
</div>